DATABASE_URL="postgresql://your_username:your_password@localhost:5433/lookogs_logs"

POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=lookogs_logs
REDIS_PORT=6379
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=changeme